
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>İstatistikler</h2>
<div class="alert alert-danger">Kategori Sayısı:@ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı: @ViewBag.projectCount</div>
<div class="alert alert-info">Mesaj Sayısı:@ViewBag.messageCount</div>
<div class="alert alert-dark">Flutter Proje Sayısı: @ViewBag.fluteterProjectCount</div>
<div class="alert alert-primary">Okunmamış Mesaj Sayısı: @ViewBag.ısnotReadMessageCount</div>
<div class="alert alert-success">Son Eklenen Proje: @ViewBag.lastProjectName</div>



<div class="alert alert-warning">Hizmet Sayısı : @ViewBag.serviceCount</div>
<div class="alert alert-dark">Sosyal Medya Sayısı : @ViewBag.socialMedias</div>
<div class="alert alert-primary">Referans Sayısı : @ViewBag.testimonials</div>
<div class="alert alert-info">C# Proje Sayısı : @ViewBag.csharpProcectCount</div>
